<template>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <h2>List Tugas</h2>
          <ul class="list-group">
            <li class="list-group-item">
              <div class="list-tugas-title">
                Matematika Halaman 11
              </div>
              <div class="list-tugas-keterangan">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
              </div>
              <div class="list-tugas-tgl">
                12 Juni 2017
              </div>
            </li>
            <li class="list-group-item">
              <div class="list-tugas-title">
                Sejarah wkkwkwk
              </div>
              <div class="list-tugas-keterangan">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
              </div>
              <div class="list-tugas-tgl">
                11 Juni 2017
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
export default {
  name: 'home',

  metaInfo: {
    titleTemplate: 'Dashboard | %s'
  },

  mounted: function(){
    this.getgraph();
  },

  data: () => ({

  }),

  computed: mapGetters({
    user: 'authUser',
    authenticated: 'authCheck'
  }),


  methods: {
    getgraph () {
      axios.get('/api/graphql/query')
        .then(function (response) {
          console.log(response.data);
        }.bind(this))
        .catch(function (error) {
          console.log(error);
      });
    },
    logout() {
      this.$store.dispatch('logout')
        .then(() => {
          this.$router.push({ name: 'auth.login' })
        })
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
