@import 'variables';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/sweetalert2/src/sweetalert2';
@import 'node_modules/font-awesome/scss/font-awesome';

@import 'elements/nav';
@import 'elements/card';
@import 'elements/forms';

.navbar {
  border: 1px solid #d3e0e9;
  background-color: darken(#fff, 3%);
}

.page-enter-active,
.page-leave-active {
  transition: opacity .2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .15s
}
.fade-enter,
.fade-leave-to {
  opacity: 0
}
