<template>
  <div id="tugas">
    <div class="content">
      <h1 class="title text-center">JADWAL PELAJARAN</h1>
      <div class="row">
        <div class="col-md-4" v-for="jadwal in jadwals" v-bind:key="jadwal.id">
          <ul class="list-group">
            <li class="list-group-item active">{{ jadwal.namahari }}</li>
            <li class="list-group-item" v-for="detailjadwal in jadwal.jadwalpelajaran" v-bind:key="detailjadwal.id">{{ detailjadwal.jampelajaran+". "+detailjadwal.matapelajaran.nmmatapelajaran}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  name: "jadwal-pelajaran",

  metaInfo: {
    titleTemplate: 'Jadwal Pelajaran | %s'
  },

  data: () => ({
    jadwals: null
  }),

  mounted:function(){
    this.getjadwal();
  },
  
  methods:{
    getjadwal () {
      axios.get('api/graphql/query',{
        params: {
          query: "{hari{id,namahari,jadwalpelajaran{jampelajaran,matapelajaran{nmmatapelajaran}}}}"
        }
      })
        .then(function (response) {
          this.jadwals = response.data.data.hari;
          console.log(this.jadwals);
        }.bind(this))
        .catch(function (error) {
          console.log(error);
      });
    }
  }
}
</script>
<style lang="scss" scoped>
  .title{
    padding: 25px;
  }
  .list-group-item {
    font-size:12px;
  }
  .col-md-4 {
    padding: 15px 5px;
  }
</style>
