<template>
  <div id="tugas">
    <div class="content">
      <div class="table-responsive">
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "tugas",
  data: () => ({

  })
}
</script>
<style lang="scss" scoped>
</style>
